<!DOCTYPE html>

<!--Created by Ankur Sardar (ankur.sardar18@gmail.com)-->


<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <style>
        
        </style>

    </head>
    <body >
        <input style="float:right" type="text" id="scale" ></input>
        <button style="float:right" onclick="selectScale()">Change coloring Scale</button>
        <div class="container">
            <a href="/" class="btn btn-info" role="button">Back to Home Page</a>
        </div>
        
        <canvas id="myCanvas" width=1366 height=768 style="border:1px solid #d3d3d3;">
        </canvas>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var canvas = document.getElementById('myCanvas');
            var context = canvas.getContext('2d');
            var imageObj = new Image();
            imageObj.onload = function() {
                context.drawImage(imageObj, 69, 50);
            };
            imageObj.src = 'back.png';
            var mode = getStoredValue('myPageMode');
            parent = myCanvas.parentNode
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            var socket = io.connect();
            socket.on('position', function(position) {
            socket.on('message', function(message) {
                var x = [];
                var y = [];
                console.log('Position in message: ' + position);
                var numberOfReceivers = position.length;

                console.log('The server has a message for you: ' + message);
                for (i = 0; i < numberOfReceivers; i++) {
                    var colorScale = getStoredValue('scale');
                    var color = getColor(message[i], colorScale);
                    var coordinate = position[i].split(',');
                    make_circle(coordinate[0], coordinate[1], color, i, message[i]);
                }
            });
            });

            socket.on('title', function(title) {
                var colorScale = getStoredValue('scale');
                var canvas = document.getElementById("myCanvas");
                var ctx = canvas.getContext("2d");
                ctx.font = "30px Arial";
                ctx.fillText(title,35,25);
                ctx.fillText('Color-Scale: ' + colorScale, 500, 25);
            });
            
            socket.emit("response","");
            function selectScale() {
                var min = document.getElementById("scale").value;

                if (localStorage) {
                    localStorage.setItem('scale', min);
                }
                else {
                    $.cookies.set('scale', min);
                }
                window.location.reload(true);
                var title = socket.getElementById("title").value;
                var min = document.getElementById("scale").value;
                socket.on('message', function(message) {
                console.log('The server has a message for you: ' + message);
                for (i = 0; i < numberOfReceivers; i++) {
                    var color = getColor(message[i], min);
                    var x = getXcoordinate(i);
                    var y = getYcoordinate(i);
                    make_circle(x, y, color, i, message[i]);
                }
                });
                socket.on('title', function(title) {
                    var canvas = document.getElementById("myCanvas");
                    var ctx = canvas.getContext("2d");
                    ctx.font = "30px Arial";
                    ctx.fillText(title,35,25);
                });
            }
            function getStoredValue(key) {
                if (localStorage) {
                    return localStorage.getItem(key);
                }
                else {
                    return $.cookies.get(key);
                }
            }
            

            function getColor(munite_spent,colorScale) {
                if (munite_spent === 0) {
                    var x = 'rgb(0,255,0)';
                    return x;
                }
                else if (munite_spent <= colorScale/4) {
                    var x = 'rgb(205,255,2)';
                    return x;
                }
                else if (munite_spent <= colorScale/2) {
                    var x = 'rgb(240,255,0)';
                    return x;
                }
                else if (munite_spent <= colorScale * 0.75) {
                    var x = 'rgb(255,121,2)';
                    return x;
                }
                else {
                    var x = 'rgb(255,0,0)';
                    return x;
                }
            }

            function make_circle(x,y,z,rid,munite_spent){
                console.log('Color in circle: ' + z);
                var c = document.getElementById("myCanvas");
                var ctx = c.getContext("2d")
                ctx.beginPath();
                ctx.arc(x,y,70,0,4*Math.PI);
                var grd = ctx.createRadialGradient(x,y,10,x,y,100);
                grd.addColorStop(0,z);
                grd.addColorStop(1,"white");
                ctx.fillStyle = grd;
                ctx.fill();
                ctx.closePath();    
                ctx.font = "20px Arial";
                ctx.fillStyle = "black";
                ctx.fillText("rid-" + rid,x-15,y+50);
                ctx.fillText( munite_spent + " min" ,x-15,y);

            }
        </script>
    </body>
</html>
